body {
    font-family: Arial;
    margin: 0;
    background: #f2f2f2;
    color: #111;
}

/* HEADER */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #111;
    padding: 10px;
}

/* BOTÓN HAMBURGUESA */
.hamburguesa {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background: none;
    border: none;
    cursor: pointer;
}

.hamburguesa span {
    width: 30px;
    height: 3px;
    background: white;
}

/* MENÚ */
.menu {
    position: absolute;
    top: 60px;
    left: 10px;
    background: #222;
    display: flex;
    flex-direction: column;
    width: 180px;

    transform: translateX(-120%);
    transition: 0.3s;
}

.menu a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.menu a:hover {
    background: #444;
}

/* MENÚ ACTIVO */
.menu.activo {
    transform: translateX(0);
}

/* MODO OSCURO */
body.dark {
    background: #111;
    color: white;
}

body.dark .header {
    background: black;
}