body {
    font-family: Arial, sans-serif;
}

/* MENÚ */
#menu {
    display: none;
    flex-direction: column;
    background: #222;
    padding: 10px;
}

#menu a {
    color: white;
    text-decoration: none;
    padding: 8px;
}

#menu a:hover {
    background: #444;
}

/* CUANDO ESTÁ ACTIVO */
#menu.activo {
    display: flex;
}

/* BOTÓN */
#botonMenu {
    padding: 10px;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
}

/* SLIDER */
#slider {
    margin-top: 20px;
    width: 100%;
    max-width: 600px;
}